Port 2222
PidFile /proxy/sshd.pid

HostKey /proxy/ssh_host_rsa_key
HostKey /proxy/ssh_host_dsa_key
HostKey /proxy/ssh_host_ecdsa_key
HostKey /proxy/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile	authorized_keys

AllowUsers proxy
AllowTcpForwarding yes
AllowAgentForwarding no
AllowStreamLocalForwarding no
X11Forwarding no
PermitTTY no
